{% extends 'home.html' %}
{% load widget_tweaks %}
{% block body %}
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-4" style="margin-top: 20%;">
                <form action="." method="post">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-bold text-center text-uppercase">
                                <i class="fa-solid fa-user-lock  fa-2x pt-3 pb-3"></i><br>
                                Actualización de contraseña
                            </h4>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="next" value="{{ next }}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {{ form.password }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                {{ form.confirmPassword }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="text-center mt-2" style="font-size: 13px;">
                                Si deseas volver al login da un click <a href="{% url 'login' %}">aqui </a>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-lg btn-block btn-primary">
                                <i class="fas fa-sign-in-alt"></i> Cambiar password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de actualizar tu contraseña?', parameters, function () {
                    Swal.fire({
                        title: 'Notificación',
                        text: 'Tu contraseña ha sido cambiada correctamente',
                        icon: 'success',
                        timer: 5000,
                        onClose: () => {
                            location.href = '{{ login_url }}';
                        }
                    }).then((result) => {
                        location.href = '{{ login_url }}';
                    });
                });
            });
        });
    </script>
{% endblock %}

